

* {
  box-sizing: border-box;
}




.container1 {
  box-sizing: content-box;
  max-width: 1244px;
  padding: 0 20px;
  margin: 0 auto;
  text-decoration: none;

}

.hotels__list {
  width: 100%;
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;
  display: flex;
  flex-wrap: wrap;
  row-gap: 45px;
  -moz-column-gap: 32px;
  column-gap: 32px;
  overflow-x: auto;

  margin: 0;
  padding: 0;
  position: relative;
  font-family: inherit;
  
  justify-content: center;



}

.hotels {
  width: 100%;
  text-decoration: none;
 
}

@media screen and (min-width: 768px) {
  .container1 {
    padding: 0 120px;
  }
  .swiper-container
  {
    display: none;
  }

}


@media (max-width: 768px) {
  .swiper-container
  {
    z-index: 0;
  }

  .hotels__list {
    display: flex;
    flex-wrap: wrap;
    overflow-x: auto;
  }

  .hotels__list .hotel {
    flex: 0 0 auto; 
    width: 50%; 
    padding: 0 5px;

  }
 .hotels__list--desktop
  {
display: none;
  }

  
  .swiper-slide {
    width: calc(80% - 40px);
  }


.container1 {
  padding: 0 0px;
}

}

