.room__text--with-icon-bed {
  margin-bottom: 8px;
}
  .room__text--with-icon-bed::before {
    background-image: url('/public/HotelDetails/Rooms/bed_icon.svg');
  }
  .room__text--with-icon-guests::before {
    background-image: url("/public/HotelDetails/Rooms/guests_icon.svg");
  }
  .room__text--with-icon-mark::before {
    background-image: url("/public/HotelDetails/Rooms/mark_icon.svg");
  }
  .room {
    width: fit-content;
    border-radius: 16.17px 16.17px 0 0;
    overflow: hidden;
    border: 1px solid #DDDDDD;
    justify-content: center;
  }

  .room__title {
    font-family: inherit;
    font-size: 20px;
    font-weight: 700;
    line-height: 27.28px;
    margin-bottom: 24px;
  }
  .room__title--center {
    text-align: center;
  }
  .room__title--black {
    color: #222;
  }
  .room__title--purple {
    color: #581ADB;
  }
  .room__text {
    font-family: inherit;
    font-size: 16px;
    font-weight: 400;
    line-height: 21.82px;
  }
  .room__text--gray {
    color: rgb(113, 113, 113);
  }
  .room__text--purple {
    color: #581ADB;
  }
  .room__text--uppercase {
    text-transform: uppercase;
  }
  .room__text--with-icon {
    left: 32px;
    position: relative;
  }
  .room__text--with-icon::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 24px;
    height: 24px;
    left: -32px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }


  .room__text--ml {
    display: inline-block;
  }
  .room__text--ml-13 {
    margin-left: 13px;
  }
  .room__text--ml-34 {
    margin-left: 34px;
  }
  .room__container {
    display: flex;
    flex-direction: column;


font-family: 'Nunito Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
  }
  .room__box {
    flex-direction: column;

  }
 
  .room__features {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
   
  }
  
  .room__info {
    width: 100%;
    padding: 0 40px;
    
  }

  .room__info-top {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 26px;
  }

  .room__info-line {
    width: 100%;
    height: 1px;
    background-color: 221, 221, 221, 1;

  }
  .room__info-box {
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
  }

  .room__cost {
    font-family: inherit;
    font-size: 32px;
    font-weight: 700;
    line-height: 43.65px;
    text-align: center;

    color: rgb(88, 26, 219);
  }

  .room__cost--thin {
    font-weight: 600;
  }
  .room__cost--gray {
    color: rgb(113, 113, 113);
  }
  .room__button {
    width: 112px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    box-shadow: 0px 0px 43px 0px rgba(88, 26, 219, 0.37);
    box-shadow: 0px 0px 10px 0px rgba(88, 26, 219, 0.35);
    border: none;
    font-family: inherit;
    font-size: 16px;
    font-weight: 700;
    line-height: 21.82px;
    text-transform: uppercase;
    transition: all 0.5s;
  }
  .room__button-box {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    gap: 50px;
  }

  .room__button--purple {
    background-color: rgb(88, 26, 219);
    color: #fff;
  }
  .room__button--purple:hover {
    color: rgb(88, 26, 219);
    background-color: #fff;
    border: 1px solid rgb(88, 26, 219);
  }
  .room__button--white {
    color: rgb(88, 26, 219);
    background-color: #fff;
    border: 1px solid rgb(88, 26, 219);
  }
  .room__button--white:hover {
    background-color: rgb(88, 26, 219);
    color: #fff;
    border-color: #fff;
  }
  .room__description {
    font-family: inherit;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
 
    color: rgb(113, 113, 113);
  }
 
  .room__feature {
    display: flex;
    gap: 8px;
    align-items: center;
  }
  .room__feature-img {
    display: block;
    height: 24px;
    width: 24px;
  }
  .room__feature-text {
    font-family: inherit;
    font-size: 16px;
    font-weight: 400;
    line-height: 21.82px;
    color: rgb(113, 113, 113);
  }
  .room__image {
    width: 100%;
    flex-basis: 20%;
    overflow: hidden;
    height: 232px;
    transform: scale(130%) translateX(-10px);
  }
 

  @media screen and (min-width: 1200px) {
    .room__container {
      flex-direction: row;
      gap: 25px;
    }
  }
 
  @media screen and (min-width: 1200px) {
    .room__image {
      transform: scale(155%);
      width: 320px;
      height: 232px;
    }
  }

  @media screen and (min-width: 1200px) {
    .room__box {
      display: flex;
      margin-left: 240px;
      align-self: center;
    }
  }

  @media screen and (min-width: 1200px) {
    .room__box--mobile {
      display: none;
    }
  }


  @media screen and (min-width: 1200px) {
    .room__image {
      width: 220px;
    }
  }


  @media screen and (min-width: 1200px) {
    .room__info {
      width: 432px;
    }
  }

  @media screen and (min-width: 1200px) {
    .room__info-top {
      gap: 0;
      flex-direction: row;
      justify-content: space-between;
    }
  }

  @media screen and (min-width: 1200px) {
    .room__info-box {
      height: 100%;
      justify-content: space-between;
    }
  }

  @media screen and (max-width: 1200px) {
    .room__cost {
      margin-left: 162px;
    }
  }

  @media screen and (min-width: 1200px) {
    .room__button-box {
      flex-direction: column;
      gap: 15px;
    }
  }

  @media screen and (min-width: 1200px) {
    .room__description {
      margin-top: 36px;
    }
  }
  
  @media screen and (min-width: 1200px) {
    .room__features {
      gap: 32px;
    }
  }
 
   
  @media screen and (max-width: 600px) {
.room
{
  border: 1px solid;
}
    .room__info {
      width: 100%;
      padding: 0 10px;
      margin-top: 30px;
    }
     .room{
      width: 399px;
      height: 640px;
      border: 1px solid #DDDDDD;
     }
     .room__button-box {
  margin-top:-35px;
    }
    .room__box {
      margin-top:-55px;
        }
  }