
.header1 {

  
  position: absolute;
  width: 116px;
  height: 11px;
  left: 702px;
  top: 550px;
  
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  
  color: #717171;
  }





.rectangle {


box-sizing: border-box;

position: absolute;
width: 208px;
height: 208px;
left: 368px;
top: 600px;
  

border: 1px solid #DDDDDD;
border-radius: 13px;

}


.rectangle-cont
{

position: absolute;
width: 160px;
height: 128px;
left: 392px;
top: 600px;
color: aqua;

}



.textAbout
{
position: absolute;
left: 5%;
right: 5%;
top: 100px;
bottom: 0%;

font-family: 'Nunito Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;

display: flex;
align-items: center;
text-align: center;
letter-spacing: -0.01em;

color: #717171;


}
.rectangle:hover .textAbout {
  color: #222222;
}

.rectangle:hover .icon1 {
  content: url('/public/about1_.png');
}

.icon1
{
 
position: absolute;
left: 42.5%;
right: 42.5%;
top: 30px;
bottom: 80.95%;
}


.rectangle:hover .icon2 {
  content: url('/public/about2_.png');
}

.icon2
{
 
position: absolute;
left: 42.5%;
right: 42.5%;
top: 30px;
bottom: 80.95%;
}



.rectangle:hover .icon3 {
  content: url('/public/about3_.png');
}

.icon3
{
 
position: absolute;
left: 42.5%;
right: 42.5%;
top: 30px;
bottom: 80.95%;
}




.rectangle:hover .icon4 {
  content: url('/public/about4_.png');
}

.icon4
{
 
position: absolute;
left: 42.5%;
right: 42.5%;
top: 30px;
bottom: 80.95%;
}



.rectangle:hover .icon5{
  content: url('/public/about5_.png');
}

.icon5
{
 
position: absolute;
left: 42.5%;
right: 42.5%;
top: 30px;
bottom: 80.95%;
}



