

   .footer-container {
    margin: auto;
    margin-top: 400px;
    bottom: 0px;
    height: auto;
    background-color:rgb(250, 247, 247);
    position: relative;
    display: flex;
    justify-content: center;
    border-top: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
  }



 
  .footer-text-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 20px;
  }
  

  .footer-texts {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    margin:20px; 

  }
  
  .footer-text {
  
    margin-bottom: 5px; 
    text-decoration: none;

font-family: 'Nunito Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;

color: #717171;
  }
  
  
  .footer-text:hover {
    color: rgb(160, 161, 162);
  }


  @media (max-width: 768px) {
    .footer-container {
      flex-direction: column;
    }
    .footer-category {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 24px;
      cursor: pointer;
      flex-direction: row;
      box-sizing: border-box;
      gap: 8px;
      border-width: 1px 0px;
      border-style: solid;
      border-color: #DDDDDD;
      font-family: 'Nunito Sans';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 22px;
      color: #717171;
      flex: none;
      order: 0;
      flex-grow: 0;
    }
    .footer-icon {
      height: 6px;
      width: 15.13px;
    }
    .footer-category.active {
      display: flex;
 
    }
    .footer-category.active img {
      transform: rotate(180deg);
    }
    .footer-category .arrow {
      transform: rotate(360deg);
    }
    .footer-text-container {
      display: none;
    }
    .footer-text-container.active {
      display: flex;
      flex-direction: column;
    }
  }
  
  @media (min-width: 768px) {
    .footer-category {
      display: none;
    }
  }