

.list {
    display: flex;
    list-style-type: none;
    padding: 0;
    bottom: 0;
    width: 100%;
  
}

.column {
    width: 20%; 
}

.column:nth-child(4) {
    width: 16%; 
}

.column:nth-child(5) {
    width: 28%;
}


.nav{
    color: rgb(114, 113, 113);
    text-decoration: none;
    display: block;
    text-align: center;
    margin-bottom: 5px;
  }
  
.nav:hover {
    color: rgb(160, 161, 162);
  }