
.contAbout {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  height: 250px;
  position: relative;
  width: 100%;
  top:550px;

  margin: 0 auto;
}

.header1 {


  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
  color: #717171;
  top:550px;
position: relative;
display: flex;
 left: 48%;
}





.rectangle {


  border: 1px solid #DDDDDD;
  border-radius: 13px;
  width: 208px;
  height: 208px;
  margin: 20px;
  margin-top: 30px;
}

.cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
   margin-right: 20px;
   margin-left: 20px;
}


.textAbout {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: -0.01em;
  color: #717171;
  
}

.rectangle:hover .textAbout {
  color: #222222;
}

.rectangle:hover .icon1 {
  content: url('/public/about1_.png');
}
.icon1, .icon2, .icon3, .icon4, .icon5 {
  width: 30px;
  height: 30px;
  margin-top: 10px;
}

.rectangle:hover .icon2 {
  content: url('/public/about2_.png');
}




.rectangle:hover .icon3 {
  content: url('/public/about3_.png');
}




.rectangle:hover .icon4 {
  content: url('/public/about4_.png');
}




.rectangle:hover .icon5{
  content: url('/public/about5_.png');
}



@media (max-width: 768px) {
  .rectangle {
    width: calc(50% - 40px);
  }
}

@media (max-width: 480px) {
  .rectangle {
    width: calc(100% - 40px); 
  }
}