.signin-container {
    width: 528px;
    height: 670px;
    margin: auto;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 2px 12px 3px rgba(90, 90, 90, 0.134);
    border-radius: 8px;
    position: fixed;
    top: 2px;
    bottom: 2px;
    left: 2px;
    right: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    z-index: 999;
    font-family: "Nunito Sans", sans-serif;

  }
  
  .signin-info-container {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    align-items: center;
   
  }
  
  .signin-close-icon:hover {
    cursor: pointer;
  }
  
  .signin-close-icon {
    position: absolute;
    top: 8px;
    left: 8px;

width: 24px;
height: 24px;
border: 1px solid #717171;

  }
  
  .signin-main-text {
  
    display: flex;
    justify-content:center;
    font-family: 'Nunito Sans',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    align-items: center;
    color: #581ADB;
    margin-top: 20px;
  }
  


  .signin-button {
  
    font-size: 16px;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 500;
    outline: none;
    border: none;
    margin-top: 20px;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 10px 10px 10px 24px;
gap: 10px;

width: 432px;
height: 56px;

background: #DDDDDD;
border-radius: 60px;

  }


  
  .signin-button2{
  

    outline: none;
    border: none;
    margin-top: 25px;
display: flex;
flex-direction: row;
justify-content:space-around;
align-items: center;
padding: 10px 10px 10px 24px;
gap: 10px;
width: 432px;
height: 56px;
border: 1px solid #DDDDDD;
border-radius: 64px;
background-color: rgb(255, 255, 255);


font-family: 'Nunito Sans',sans-serif;
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 22px;

display: flex;
align-items: center;

color: #222222;
flex: none;
order: 0;
flex-grow: 0;

  }
  
  .signin-button:hover {
    cursor: pointer;
  }
  
  .signin-button2:hover {
    cursor: pointer;
  }
  
  
  .signin {
    font-family: "PT Sans", sans-serif;
    font-size: 21px;
    align-items: center;
    justify-content: center;
  
  }
  
  .signin-check {

    position: relative;
display: flex;
flex-direction: row;
align-items: center;
padding: 10px 10px 10px 24px;
gap: 10px;

width: 432px;
height: 56px;

border: 1px solid #DDDDDD;
border-radius: 64px;

  }
  
  .signin-check:hover {
    cursor: pointer;
  }
  .cont-text 
  {
  

width: 67px;
height: 11px;

font-family: 'Nunito Sans',sans-serif;
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 22px;

display: flex;
align-items: center;

color: #717171;


flex: none;
order: 0;
flex-grow: 0;

  }
.text{

font-family: 'Nunito Sans',sans-serif;
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 22px;

display: flex;
align-items: center;

color: #222222;

flex: none;
order: 0;
flex-grow: 0;
margin-right: 90px;
}


.title
{
margin: 10px;



font-family: 'Nunito Sans',sans-serif;
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 22px;

display: flex;
align-items: center;

/* grayTextandIcons */
color: #717171;


}
  
  .signin-button2 img{
   margin-left: -50px;
  }

  .regopen
  {
    color: rgba(88, 26, 219, 1);
  }
  .regopen:hover
  {
    cursor: pointer;
  }
  @media (max-width: 900px) {
    .signin-container {
        width: 428px;
      padding: 5px;
    }
  }
  @media (max-width: 515px) {
    .signin-info-container {
      justify-content: center;
      max-width: 380px;
      height: 500px;
    }
  @media (max-width: 415px) {
    .signin-info-container {
      width: 320px;
    }
.signin-check
{
    height: 40px;
    max-width: 300px;
}
    .signin-container {
        max-width: 320px;
        height: 500px;
      }
      .signin-button2
      {
        justify-content: center;
        margin-right: 0px;
        margin-left: 0px;
        max-width: 300px;
        height: 40px;
      }
      .text
      {
        margin-right: 0px;
        margin-left: 0px;
      }
      .signin-button
      {
        height: 40px;
        max-width: 300px;
      }
      .title
      {
        font-size: 12px;
      }
  }
  
 
  }
  
  