.rooms__list {
  flex-direction: column;
  display: flex;
  width: 100%;
  gap: 32px;
}
.rooms__list-title {
  font-size: 16px;
  font-weight: 400;
  line-height: 21.82px;
  text-transform: uppercase;
  text-align: center;
  color: rgb(113, 113, 113);
  margin-bottom: 32px;
}