
.nav-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: "Nunito Sans", sans-serif;
    position: relative;
    width: 100%; 
  }
  .nav-title {
    width: 100%; 
    display: flex; 
    font-size: 40px;
    font-weight: 600;

    justify-content: center;
  }
  .suppliers, .match, .hotelsnav {
    display: flex; 
    margin: 75px; 
    position: relative; 
    height: 48px;
    align-items: center;
    justify-content: center;
  }
  
.sup-icon{

position: absolute;
top: 0%;
bottom: 50%;
background-image: url('/public/SearchResult/Nav2/sup.png');  
background-size:cover; 

}
.suppliers:hover .sup-icon {
    background-image:url('/public/SearchResult/Nav2/sup2.png');  
    background-size:cover; 
}

.sup_text
{

position: absolute;

top: 77.08%;
bottom: 0%;

font-family: 'Nunito Sans',sans-serif;
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 22px;
display: flex;
align-items: center;


color: #717171;


}

.suppliers:hover .sup_text {
color: #222222;

}

.match_text
{

position: absolute;

top: 77.08%;
bottom: 0%;

font-family: 'Nunito Sans',sans-serif;
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 22px;

display: flex;
align-items: center;


color: #717171;


}
.match:hover .match_text {
    color: #222222;
}

.match-icon
{
position: absolute;

top: 0%;
bottom: 50%;
background-image: url('/public/SearchResult/Nav2/match.png');  
background-size:cover; 
}
.match:hover .match-icon {
    background-image: url('/public/SearchResult/Nav2/match2.png');
    background-size:cover; 
}



.hotelsnav_text
{


position: absolute;

top: 77.08%;
bottom: 0%;

font-family: 'Nunito Sans',sans-serif;
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 22px;
display: flex;
align-items: center;

color: #717171;


}
.hotelsnav:hover .hotelsnav_text {
    color: #222222;
}
.hotelsnav-icon
{
position: absolute;

top: 0%;
bottom: 50%;
background-image: url('/public/SearchResult/Nav2/hotels.png');
background-size:cover; 
}
.hotelsnav:hover .hotelsnav-icon {
    background-image: url('/public/SearchResult/Nav2/hotels2.png');
    background-size:cover; 
}
.sup_n, .match_n, .hotelsnav_n
{

  position: absolute;
margin-top: 80px;
  font-family: 'Nunito Sans',sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  display: flex;
  align-items: center;
  
  color: #717171;
}

@media (max-width: 768px) {
 
  .sup_text, .match_text, .hotelsnav_text {
    display: none; 
  }
  .sup_n, .match_n, .hotelsnav_n
  {
  margin-top: 30px;
  }
  .suppliers, .match, .hotelsnav {
    margin: 30px;
  }

}