.hotel-card {
  display: flex;
  flex-direction: row;
  margin-top: 40px;
  width: 880px;
  height: 320px;
  color: rgb(42, 42, 42);
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 2px 12px 3px rgba(90, 90, 90, 0.26);
  border-radius: 6px;
  font-family: "Nunito Sans", sans-serif;
  position: relative;
  font-size: 16px;
}

.hotel-image {
  width: 320px;
  height: 320px;
  object-fit: cover;
  align-items: center;
}

.hotel-name {

  color: rgb(14, 14, 14);
  margin-left: 15px;
}


.choose-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  outline: none;
  border: none;
  background: #581ADB;
border-radius: 100px;
  box-shadow: 0px 2px 12px 3px rgba(0, 0, 0, 0.104);
  width: 175px;
  height: 45px;
color: #FFFFFF;
font-family: 'Nunito Sans';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 22px;
  position: absolute;
  bottom: 10px;
  right: 10px;
  text-transform: uppercase;

}

.choose-button:hover {
  cursor: pointer;
}
.hotel-price {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 27px;
  color: #581ADB;
  display: inline-block;
  text-align: left;
  position: absolute;
  bottom: 60px;
  right: 30px;
}

.hotel-price .price-label {
  font-weight: 400;
  color: black;
  display: block; 
}

.hotel-price .price-value {
  color: #581ADB;
  font-weight: 700;
  display: block;


}

.hotel-details-container {
  margin-left: 28px;
  width: 250px;
  text-align: left;
}

.hotel-things {
font-family: 'Nunito Sans';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 22px;
display: flex;
align-items: center;
color: #222222;
white-space: nowrap;
}
.vector{
width: 20px;
margin: 8px;
color: #222222;
}
.hotel-distance {

  margin-left: 15px;
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  background: #FFFFFF;
  display: flex;
  align-items: center; 

}

.hotel-distance img {
  width: 24px; 
  margin-right: 5px; 
}
.hotel-distance p {
  margin-right: 10px; 
}


.hotel-details {
  display: flex;
  text-align: left;
  width: 345px;
  height: 56px;
  font-size: 16px;
  font-weight: 300;
  flex-wrap: wrap;
  line-height: 24px;
  
}

.hotel-description {
  margin: 8px;
  text-align: left;
}
.hotel-rating{
  display: flex;
  position: absolute;
  padding: 3px;
  top: 1px;
  color: white;
  font-weight: 400;
  right: 8px;
  font-size: 20px;
text-align: center;


}

.hotel-rating p {
  width: 48px;
  height: 48px;
  border: 1px solid #581ADB;
  border-radius: 50%; 
  font-family: 'Nunito Sans';
  font-style: normal;
  line-height: 27px;
  color: #581ADB;
  margin-right: 0px;
  display: flex; 
  justify-content: center; 
  align-items: center; 
  text-align: center;
}

.hotel__stars_search {
  display: flex;
 
}

.hotel__stars_search-star {
  width: 16px;
  height: 16px;
  display: block;
  background-image: url('/public/Home/HotelList/hotel__star.png');
  background-position: center;
  background-size: 11.5px 11px;
  background-repeat: no-repeat;
}


























@media (max-width: 1300px) {
  .hotel-card {
    width: 700px;
  }
  .hotel-name {
    font-size: 23px;
  }
}

@media (max-width: 1050px) {
  .hotel-card {
    width: 900px;
    margin: auto;
    margin-top: 20px;
  }
}

@media (max-width: 915px) {
  .hotel-card {
    width: fit-content;
    height: fit-content;
  }
}





@media (max-width: 720px) {
  .hotel-card {
    display: flex;
    flex-direction: column;
    align-items: center;
width: 398px;
height: 792px;

  }

  .hotel-image {
    width: 398px;
    height: 320px;
    margin-bottom: 10px;

width: 398px;
height: 320px;


border-radius: 13px 13px 0px 0px;

  }

  .hotel-details-container {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
  }

  .hotel-distance {
    font-size: 16px;
    max-width: 119px;
    text-align: center;
    margin-bottom: 10px;

height: 88px;



  }

  .hotel-details {
    width: 100%;
    max-width: 300px;
    font-size: 14px;
    text-align: center;
    margin-bottom: 10px;
  }

  .choose-button {
    width: 175px;
    margin-bottom: 10px;
  }

  .hotel-price {
    position: static;
    text-align: center;
    margin-top: 10px;
  }

  .hotel-things {
    font-size: 12px;
    flex-wrap: wrap;
    text-align: center;
  }
  .hotel-name
  {

width: 122px;
height: 14px;


font-family: 'Nunito Sans';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 27px;

display: flex;
align-items: center;

color: #222222;


  }
}


@media (max-width: 400px) {
  .hotel-distance {
    font-size: 13px;
    display: flex;
    align-items: center; 
  }

  .hotel-distance img {
    width: 15px;
    margin-right: 5px; 
  }
  .hotel-card {
    height: 792px;
    width: 398px;
  }
  .hotel-image{
    height: 320px;
    width: 398px;
  }
  .choose-button {
    left: 5px;
    right: none;
  }
  .hotel-price {
    left: 8px;
    right: none;
  }

 
  .hotel-rating {
    position: absolute;
    left: 8px;
    bottom: 10px;
    color: white;
  }
  .hotel-description
  {
    font-size: 12px;
   
  }
  .hotel-things
  {
    font-size: 12px;
    flex-wrap: wrap;
  }

}

