
.review {
    width: 100%;
    height: auto;
    padding: 27px 32px;
    border: 1px solid rgb(148, 208, 180);
    border-radius: 13px;
    margin-bottom: 32px; 
  }
  
  
  .review__info {
    display: flex;
    align-items: center;
  }
  
  
  .review__info-text {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  
  .review__avatar {
    display: block;
    height: 48px;
    width: 48px;
    margin-right: 16px;
  }
  
  
  
  .review__title {
    font-size: 16px;
    font-weight: 700;
    line-height: 21.82px;
    color: rgb(34, 34, 34);
    margin-bottom: 8px; 
  }
  
  
  .review__hotel-name {
    font-size: 16px;
    font-weight: 400;
    line-height: 21.82px;
    color: rgb(113, 113, 113);
  }
  
  
  
  .review__date {
    font-size: 16px;
    font-weight: 400;
    line-height: 21.82px;
    color: rgb(113, 113, 113);
    margin-left: auto;
    white-space: nowrap;
  }