.App {
  text-align: center;
}


.App-header {
  position: absolute;
  width: 1448px;
  margin-bottom: 20px; 
  padding: 0 20px;
  background: #FFFFFF;
  
}
.App-footer
{

position: absolute;
width: 1488px;
height: 464px;

top: 272px;


}

