

   .footer-container {
    margin: auto;
    margin-top: 400px;
    bottom: 0px;
    height: auto;
    background-color:rgb(250, 247, 247);
    position: relative;
    display: flex;
    justify-content: center;
    border-top: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
  }



 
  .footer-text-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 20px;
  }
  

  .footer-texts {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    margin:20px; 

  }
  
  .footer-text {
  
    margin-bottom: 5px; 
    text-decoration: none;

font-family: 'Nunito Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;

color: #717171;
  }
  
  
  .footer-text:hover {
    color: rgb(160, 161, 162);
  }
  
  @media (max-width: 750px) {
    .footer-text {
      margin-left: 0px;
      margin-right: 15px;
      font-size: 15px;
    }
   
  }
  
  @media (max-width: 500px) {
   
    .footer-text {
      font-size: 8px;
    }
    .footer-texts {
      margin: 5px; 
  }
  }
  